/* Add your styling for MainContainer component here */
/* For example: */
#main-container {
  height: 100%;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #87b7ff;
}

#weather-container {
  height: 60%;
  width: 90%;
  font-weight: bold;
}

  
.location {
  font-size: 30px;
}

.current-weather {
  gap: 20px;
}

.current-weather-show {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  padding-top: 40px; 
}

.current-weather-details {
  display: flex;
  flex-direction: column;
}

.condition {
  font-size: 25px;
}

.temp {
  font-size: 60px;
}

.current-weather-icon {
  width: 150px;
  height: 150px;
}

.forecast {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 15px; 
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 190px;
  width: 150px;
  padding: 20px;
  border-radius: 5px;
}

.forecast-icon {
  width: 150px;
  height: 150px;
}

.forecast-temp {
  font-size: 25px;
}

.select-city-message {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 250px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}