* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  img,
  .hidden {
    display: none;
  }
  
  img[src] {
    display: block;
  }
  
  #main-container {
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87b7ff;
  }
  
  #weather-container {
    height: 60%;
    width: 90%;
    font-weight: bold;
  }
  
  #side-container {
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #search-input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  
  #search-button {
    padding: 10px;
    background-color: #0075ff;
    color: #ffffff;
    border-radius: 5px;
    border-width: 1px;
  }
  
  .search-result:hover {
    font-weight: bold;
    cursor: pointer;
  }
  
  .location {
    font-size: 30px;
  }

  .current-weather {
    gap: 20px;
  }

  .current-weather-show {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    padding-top: 40px; 
  }

  .current-weather-details {
    display: flex;
    flex-direction: column;
  }

  .condition {
    font-size: 25px;
  }

  .temp {
    font-size: 60px;
  }

  .current-weather-icon {
    width: 150px;
    height: 150px;
  }
  
  .forecast {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 15px; 
  }

  .forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 190px;
    width: 150px;
    padding: 20px;
    border-radius: 5px;
  }

  .forecast-icon {
    width: 150px;
    height: 150px;
  }

  .forecast-temp {
    font-size: 25px;
  }